<header>
<div class="header-wrapper">
  <div class="menu container">
    <div class="menu-brand">
      <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </div>
    <div class="menu-content">
      <a class="button button-primary" href="downloadorfork.html">Download / Fork</a>
      <a class="button" href="{{ site.baseurl }}/index.html#blog">Blog</a>
    </div>
  </div>
  <div class="header-content">
    <div class="header-text">
      <p>
        A
        <br>
        stickman
        <br>
        game
      </p>
    </div>
  </div>
</div>
</header>