/**
 * Site header
 */
 .site-header{}
.menu{min-height: 80px;}
.menu-brand{
    text-align: left;
    display: block;
    h1 {
        padding-top: 20px;
        font-size: 2em;
    }
}

.menu-content
{
    top: 20px;
    position: absolute;
    text-align: right;
    right: 0;
    display: block;

}

.header-content
{
overflow: hidden;
background-color: #000;
background-image: url('../img/gitman-only.jpg');

background-size: auto 90%;
background-position: 5% -250%;
background-repeat: no-repeat;
}

.header-text
{
    height: auto;
    text-align: center;
    font-size: 3em;
}

.header-text p
{
        padding-top: 50px;
        padding-bottom: 50px;
        color: #fff;
        font-weight: 100 !important;
}

@media screen and (max-width: 480px) {
    .menu-content{ display: block; position: inherit; text-align: center; right: auto; top: -10px;}
    .header-content {background-size: auto 100%;background-image: none;}
}

/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 20px;
}

.entry{
    text-align: center;
}

.timeline{
    text-align: center;
    font-size: 1em;
    color: $grey-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
/*Info*/
.pad-top{padding-top: 50px;}
/*Blog*/
.blog-brand{padding-top: 50px;}
